<% if @annotations.any? %>
  <div id="rm-annotation-list">
    <% @annotations.each do |annotation| %>
      <%= render "annotation_card", annotation: annotation %>
    <% end %>

    <% if @next_page %>
      <div class="rm-load-more">
        <button class="rm-load-more-btn"
                data-next-url="<%= rails_markup.load_more_path(status: @current_status, page: @next_page, page_url: @current_page_url, q: @current_query, author: @current_author) %>"
                onclick="rmLoadMore(this)">
          Load more (<%= @remaining %> remaining)
        </button>
      </div>
    <% end %>
  </div>

  <script>
    function rmLoadMore(button) {
      button.disabled = true;
      button.textContent = "Loading\u2026";
      var url = button.getAttribute("data-next-url");
      var wrapper = button.closest(".rm-load-more");

      fetch(url, { headers: { "X-Requested-With": "XMLHttpRequest" } })
        .then(function(response) {
          if (!response.ok) throw new Error("HTTP " + response.status);
          return response.text();
        })
        .then(function(html) {
          wrapper.insertAdjacentHTML("afterend", html);
          wrapper.remove();
        })
        .catch(function() {
          button.disabled = false;
          button.textContent = "Error \u2014 click to retry";
        });
    }
  </script>
<% else %>
  <div class="rm-empty">
    <div class="rm-empty-icon">&#9670;</div>
    <div class="rm-empty-text">
      <% if @current_query.present? %>
        No results for &ldquo;<%= @current_query %>&rdquo;.
        <a href="<%= rails_markup.root_path(status: @current_status, page_url: @current_page_url, author: @current_author) %>">Clear search</a>
      <% elsif @current_author.present? %>
        No annotations by <%= @current_author %>.
        <a href="<%= rails_markup.root_path(status: @current_status, page_url: @current_page_url) %>">Clear filter</a>
      <% elsif @current_status != "all" %>
        No <%= @current_status %> annotations.
      <% else %>
        No annotations yet.<br>Use the toolbar to start annotating.
      <% end %>
    </div>
  </div>
<% end %>
